{% extends "layout-about.html" %}
{% block body %}

<div class="w-4/5 lg:flex justify-center mx-auto shadow rounded">
    <div class="h-48 lg:h-auto lg:w-48 flex-none object-contain inset-0 rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden">
        <img
        class="h-full w-full object-cover object-top"
        src="static/Vanya.jpg"
        title="Vanya Tochevska" />
    </div>
    <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
      <div class="mb-8">
        <p class="text-sm text-gray-600 flex">
          About me
        </p>
        <div class="text-gray-900 text-left font-bold-semibold text-xl mb-2">After a successful career in Graphic Design, I transitioned into software development,
            driven by my passion for problem-solving and creativity.</div>
        <p class="text-gray-700  text-left text-base mb-2"> Over the past year, I’ve honed my skills in <strong>Angular</strong> and
            <strong>Python</strong>, working on projects that include efficient APIs and reusable components, with exposure to
            <strong>ASP.NET</strong> along the way. Furthermore I use <strong>Flask</strong> and <strong>Django</strong> when working with Python, you can view some of my other projects on my <a href="https://github.com/vtoch23" target="_blank" class="underline">GitHub</a> page.</p>
            <p class="text-gray-700  text-left text-base mb-2"> 
                I’ve applied my skills to developing file upload APIs, reusable Material icon components, and
                contributed to testing and deployment pipelines, using tools like <strong>Cypress</strong>, <strong>Storybook</strong> and <strong>Azure</strong>. While I
                have experience in ASP.NET, I’m eager to deepen my understanding through more hands-on projects. Furthermore, my background in <strong>graphic design</strong> and skills in <strong>UI/UX</strong>, allow me to bring a user-focused perspective to software development.</p>
                <p class="text-gray-700  text-left text-base mb-2"> As a fast learner, I’ve quickly adapted to new technologies such as Angular 17 and Monorepo with <strong> Nx </strong>, and
                    I’m committed to growing my expertise further in areas like ASP.NET. Recently, I've gained a <strong>Junior Angular Certification</strong> and my passion for Python motivated me
                    to deepen my knowledge, earning an Associate-level certification followed by a recent <strong> Professional-level
                    certification in Python programming</strong>.</p>
                    <p class="text-gray-700  text-left text-base mb-2"> Although I have one year of experience, my commitment to growth, combined with my diverse background,
                        positions me as a highly motivated junior developer ready to bring fresh ideas and a strong work ethic
                        to any development team.</p>
      </div>
      <div class="flex">
        <div class="text-sm">
          <p class="text-gray-900 leading-none  text-left ">Vanya Tochevska</p>
          <p class="text-gray-600 text-left">Oct 2024</p>
        </div>
      </div>
    </div>
  </div>


<div class="w-4/5 mx-auto">

    <div class="text-center text-2xl font-bold bg-light my-4">View Certifications</div>

    <div class="w-full lg:flex mx-auto items-center justify-between lg:text-md sm:text-sm">

        <div class="text-left text-sm mb-3 text-black bg-blue-200 p-2"> 
            <a href="https://verify.openedg.org/?id=ayNR.JLia.sroo" target=”_blank”><svg class="float-left mr-2 my-1" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10s10-4.486 10-10S17.514 2 12 2m0 15v-4H7v-2h5V7l5 5z"/></svg>PCPP1 Python Professional Certification
        </div>

        <div class="text-left text-sm mb-3 bg-blue-200 p-2"> 
            <a href="https://certificates.dev/angular/certificates/9d023e7d-8bdb-43ba-951f-81dfd685271b"
            target=”_blank”><svg class="float-left mr-2 my-1" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10s10-4.486 10-10S17.514 2 12 2m0 15v-4H7v-2h5V7l5 5z"/></svg>Angular Junior Developer Certification

        </div>

        <div class="text-left text-sm mb-3 bg-blue-200 p-2 flex"> 
            <a href="https://verify.openedg.org/?id=3WaK.brP4.rHyG" target=”_blank”><svg class="float-left mr-2 my-1" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10s10-4.486 10-10S17.514 2 12 2m0 15v-4H7v-2h5V7l5 5z"/></svg>PCAP Python Associate Certification

        </div>

        <div class="text-left text-sm mb-3 bg-blue-200 p-2">
            <a href="https://certificates.mooc.fi/validate/9kwhxj19t7" target=”_blank”><svg class="float-left mr-2 my-1" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10s10-4.486 10-10S17.514 2 12 2m0 15v-4H7v-2h5V7l5 5z"/></svg>Advanced Course in Programming - Helsinki University
        </div>

    </div>

</div>
{% endblock %} 