{% extends "layout-contact.html" %}
{% block body %}

<div class="lg:mx-40 sm:mx-10 md:mx-20">
    <h1 class="text-2xl font-bold">
        Contact
    </h1>

    <div class="mx-auto">
        <a href="mailto: vtochevska@gmail.com">vtochevska@gmail.com</a>
    </div>
</div>
<div class="card text-center fixed-bottom position-static mt-2">
    <div class="card-footer text-muted">
      <form action = "/" method="get" class="my-2">
        <input type="image"  tootlip="return home" src="static/home.png" width="20">
      </form>
      © Vanya Tochevska 2024
    </div>
  </div>
{% endblock %}

