{% extends "layout.html" %}
{% block body %}

<h1 class="text-2xl font-bold my-2">
    Password Generator
</h1>
<div>The program generates a random password of given number of characters.
</div>

<p class="font-semibold">
    Please enter the desired length of password
</p>
<form action="/pass-r" method="post">
    <input class="rounded form-input border-slate-300 shadow-sm my-3 p-2" autocomplete="off" autofocus name="number"
        placeholder="number of characters" type="int">
    <input class="px-4 py-1 bg-gray-700 text-sm text-white font-semibold rounded" value="Get Password" type="submit">

</form>
{% include 'password-done.html' %}

<p>
<form action="/" method="get" class="my-2">
    <input type="image" tootlip="return home" src="static/home.png" width="20">
</form>
</p>



{% endblock %}